@{
    ViewBag.Title = "О проекте";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}


<div class="middle">
    @Html.Action("MainMenu", "Home")
    <div class="content">
        <section>
            <h1>О проекте</h1>
            <p>
                На сайте SexiVirt.com вы сможете знакомиться по интересам, найти друзей, назначать реальные встречи, обмениваться сообщениями, вести свои личные дневники, дарить друзьям подарки, воплотить свои виртуальные фантазии в реальной жизни. <br /><br />
                С помощью сайта вы можете найти подходящего партнера для отдыха, проведения совместных тематических вечеринок, а таже заработать реальные деньги, размещая свои фотографии и получая вознаграждение за их просмотр.
            </p>
            <br/>
            
            <p>
                ООО "ЮК "Справедливость" создано в соответствии с ГК РФ, Федеральным законом РФ "Об обществах с ограниченной ответственностью" от 08.02.1998 года 14-ФЗ (с изменениями) и иными нормативными актами РФ.
            </p>
            <br />
            <br />
            <p>
                ИНН 8603172406
            </p>
            <br />
            <br />
            <p>
                Контакты:<br/>
                <a href="mailto:info@sexivirt.com">info@sexivirt.com</a>
            </p>
        </section>
    </div>
</div>

