@model List<Preference>
@{
    var currentUser = ((sexivirt.Web.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}
<div class="popupBg"></div>

<div class="popupOpenAlbum popupType-1 popup">
    <div class="pp_close closePreference">×</div>
    <div class="pp_title">Мои предпочтения</div>
    <div class="pp_desc">Отметьте свои предпочтения</div>
    <div class="pp_text">
        <div class="preferences">
            <ul class="choise">
                @foreach (var item in Model)
                {
                    <li class="@(currentUser.HasPreference(item.ID) ? "active" : "")" data-id="@item.ID">@item.Name</li>
                }
            </ul>
        </div>
    </div>
    <button class="ppa_select greenBut closePreference close-popup">Выбрать</button>
</div>