@model User
<div class="write">
    <textarea id="StatusTextArea">@Model.Status</textarea>
    <button type="button" class="send" id="StatusChangeBtn">Отправить</button>
    <div class="limit" id="Limit">Еще 23 символа</div>
</div>