@using System.Web.UI.WebControls
@model sexivirt.Web.Models.ViewModels.User.PasswordUserView
<div id="PF">
    @using (Ajax.BeginForm("Password", "User", null,
        new AjaxOptions() { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "PF", OnComplete = "initLoginBtns();" },
        new { @class = "form-horizontal", id = "PasswordForm" }))
    {

        <div class="input-title input-title-pass">
            <span>Ваш e-mail</span>
        </div>
        <div>
            @Html.TextBox("Email", Model.Email)
        </div>
        if (ViewBag.Message != null)
        {
            <div class="input-title input-title-pass-msg">
                <span>@ViewBag.Message</span>
            </div>

        }
        <div>
            <button id="PasswordRestore">Восстановить пароль</button>
        </div>
    }
</div>