@model User
@{
    ViewBag.Title = "You're registered";
    Layout = "~/Areas/Default/Views/Shared/_BootstrapLayout.cshtml";
}
<h2>You're registered</h2>
<p>To your email (@Model.Email) sent the message registration confirmation</p>
