<script type="text/template" id="qq-template-bootstrap">
    <div class="qq-uploader-selector qq-uploader col-md-12">
        <div class="qq-upload-drop-area-selector qq-upload-drop-area col-md-12" qq-hide-dropzone>
            <span>Drop files here to upload</span>
        </div>
        <div class="qq-upload-button-selector qq-upload-button btn btn-primary" style="width: auto;">
            <div><i class="glyphicon glyphicon-upload"></i>&nbsp;Загрузить</div>
        </div>
        <span class="qq-drop-processing-selector qq-drop-processing hidden">
            <span>Processing dropped files...</span>
            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
        </span>
        <ul class="qq-upload-list-selector qq-upload-list hidden" style="margin-top: 10px; text-align: center;">
            <li>
                <div class="qq-progress-bar-container-selector">
                    <div class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <span class="qq-upload-file-selector qq-upload-file"></span>
                <span class="qq-upload-size-selector qq-upload-size"></span>
                <a class="qq-upload-cancel-selector qq-upload-cancel" href="#">Cancel</a>
                <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
            </li>
        </ul>
    </div>
</script>
