@model IList<Friendship>
@foreach (var friendship in Model)
{ 
   @Html.Partial("ShortFullContactItem", friendship)
}

@if (Model.Count == 18)
{
    <a class="next" href="@Url.Action("Load","Friend")">Загружаю</a>
}