<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
      <add name="sexivirt.Model.Properties.Settings.sexivirt5ConnectionString"
          connectionString="Data Source=SATURN\MSSQL;Initial Catalog=sexivirt5;Integrated Security=True"
          providerName="System.Data.SqlClient" />
      <add name="sexivirt.Model.Properties.Settings.sexivirt_DbConnectionString"
          connectionString="Data Source=SATURN\MSSQL;Initial Catalog=sexivirt.Db;Integrated Security=True"
          providerName="System.Data.SqlClient" />
      <add name="sexivirt.Model.Properties.Settings.sexivirt_Db_20140409_151907ConnectionString"
          connectionString="Data Source=SATURN\MSSQL;Initial Catalog=sexivirt.Db_20140409_151907;Integrated Security=True"
          providerName="System.Data.SqlClient" />
      <add name="sexivirt.Model.Properties.Settings.sexivirt_Db_20140501_172730ConnectionString"
          connectionString="Data Source=SATURN\MSSQL;Initial Catalog=sexivirt.Db_20140501_172730;Integrated Security=True"
          providerName="System.Data.SqlClient" />
      <add name="sexivirt.Model.Properties.Settings.sexivirt_Db_20140511_143039ConnectionString"
          connectionString="Data Source=SATURN\MSSQL;Initial Catalog=sexivirt.Db_20140511_143039;Integrated Security=True"
          providerName="System.Data.SqlClient" />
      <add name="sexivirt.Model.Properties.Settings.sexivirt_Db_20140518_193130ConnectionString"
          connectionString="Data Source=SATURN\MSSQL;Initial Catalog=sexivirt.Db_20140518_193130;Integrated Security=True"
          providerName="System.Data.SqlClient" />
      <add name="sexivirt.Model.Properties.Settings.sexivirtConnectionString"
          connectionString="Data Source=ANTON-PC\SQLSERVER2012;Initial Catalog=sexivirt;Integrated Security=True"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>