@model IList<Connect>
@foreach (var item in Model)
{
    @Html.Partial("ConnectItem", item)
}
@if (Model.Count == 10)
{
    <a class="next" href="@Url.Action("LoadConversations", "Chat", new { skip = 10, ChatUserID = ViewBag.ChatUserID })">Загружаю</a>
}


