@model  IList<Connect>
@{
    var total = (int)ViewBag.Total;
    var filter = (string)ViewBag.Filter;
}
@foreach (var item in Model)
{
    @Html.Partial("ConnectItem", item)
}

@if (Model.Count == 10)
{
     <a class="next" href="@Url.Action("LoadConversations", "Chat", new { skip = total, filter = filter, ViewBag.ChatUserID })">Загружаю</a>
}