<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="mailTemplateConfig" type="sexivirt.Web.Global.Config.MailTemplateConfig, sexivirt.Web" />
    <section name="resizer" type="ImageResizer.ResizerSection" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="AdminEmail" value="KovetskiyAS@yandex.ru" />
    <add key="DebugMode" value="true" />
    <add key="EnableMail" value="true" />
    <!--<add key="VkClientId" value="4271316" />
    <add key="VkClientSecret" value="tLQmhxAfyxLxFCsZk9zB" />-->
    
    <add key="VkClientId" value="4263369" />
    <add key="VkClientSecret" value="7jLuQoEx6CYtQ9iYeDzq" />
    <!--<add key="RoboServer" value="https://auth.robokassa.ru/Merchant/Index.aspx"/>-->
    <add key="RoboServer" value="http://test.robokassa.ru/Index.aspx"/>
    <add key="RoboLogin" value="sexivirt"/>
    <add key="RoboPass1" value="pass1234567890"/>
    <add key="RoboPass2" value="pass0987654321"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=sql10-12-rus.corp.parking.ru;Initial Catalog=Ukspravedliv_5;User ID=Ukspravedliv_5;Password=VT6(LWRH1V"></add>-->
    <!--<add name="ConnectionString" connectionString="Data Source=sql10-12-rus.corp.parking.ru;Initial Catalog=proserjo_5;User ID=proserjo_5;Password=ygwm#8WQV7"></add>-->
    <add name="ConnectionString" connectionString="Data Source=ANTON-PC\SQLSERVER2012;Initial Catalog=sexivirt;User Id=sa;Password=mssql"></add>
    <!--<add name="ConnectionString" connectionString="Data Source=ms-sql-8.in-solve.ru;Initial Catalog=1gb_sexivirt;User Id=1gb_chernikov;Password=994d312c;"></add>-->
  </connectionStrings>
  <system.web>
    <machineKey validationKey="D9F7287EFDE8DF4CAFF79011D5308643D8F62AE10CDF30DAB640B7399BF6C57B0269D60A23FBCCC736FC2487ED695512BA95044DE4C58DC02C2BA0C4A266454C" decryptionKey="BDAAF7E00B69BA47B37EEAC328929A06A6647D4C89FED3A7D5C52B12B23680F4" validation="SHA1" decryption="AES" />
    <globalization uiCulture="ru" culture="ru-RU" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <authentication mode="Forms">
      <forms loginUrl="~/not-found-page" timeout="2880" />
    </authentication>

    <customErrors mode="Off" defaultRedirect="~/error">
      <error statusCode="403" redirect="~/error" />
      <error statusCode="404" redirect="~/not-found-page" />
    </customErrors>
    <httpModules>
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </httpModules>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="&quot;sexivirtMail&quot; &lt;lxndrpetrov@gmail.com&gt;">
        <network host="smtp.yandex.ru" port="25" enableSsl="false" userName="KovetskiyAS@yandex.ru" password="vhdl159mail"></network>
        <specifiedPickupDirectory pickupDirectoryLocation="D:\test\mails" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="${basedir}/Content/logs/${shortdate}" />
    <targets>
      <target name="fileLogTrace" xsi:type="File" fileName="${logDirectory}/trace.txt" />
      <target name="fileLogDebug" xsi:type="File" fileName="${logDirectory}/debug.txt" />
      <target name="fileLogInfo" xsi:type="File" fileName="${logDirectory}/info.txt" />
      <target name="fileLogErrors" xsi:type="File" fileName="${logDirectory}/errors.txt" />
    </targets>
    <rules>
      <logger name="*" level="Trace" writeTo="fileLogTrace" />
      <logger name="*" level="Debug" writeTo="fileLogDebug" />
      <logger name="*" level="Info" writeTo="fileLogInfo" />
      <logger name="*" minlevel="Warn" writeTo="fileLogErrors" />
    </rules>
  </nlog>
  <mailTemplateConfig>
    <mailTemplates>
      <add name="Register" subject="Регистрация на {0}" template="Привет! &lt;br/&gt;&lt;br/&gt; Пожалуйста, подтвердите свою почту перейдя по ссылке  &lt;a href='http://{1}?activate={0}'&gt;http://{1}?activate={0}&lt;/a&gt;.&lt;br/&gt;-----&lt;br/&gt;С наилучшими пожеланиями, команда &lt;a href='http://{1}'&gt;{1}&lt;/a&gt; " />
      <add name="ForgotPassword" subject="Ваш доступ на сайт {0}" template="Привет!&lt;br/&gt;&lt;br/&gt;Ваши данные для доступа на &lt;a href='http://{2}/'&gt;{2}&lt;/a&gt;&lt;br/&gt;&lt;br/&gt;Email : {0}&lt;br/&gt;Password: {1}&lt;br/&gt;&lt;br/&gt; -----&lt;br/&gt;С наилучшими пожеланиями, &lt;a href='http://{2}'&gt;{2}&lt;/a&gt;" />
    </mailTemplates>
  </mailTemplateConfig>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </modules>
  </system.webServer>
  <resizer>
    <plugins>
      <add name="MvcRoutingShim" />
      <add name="DiskCache" />
    </plugins>
  </resizer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>