@model sexivirt.Web.Models.ViewModels.User.ForgotPasswordView
@{
    ViewBag.Title = "Forgot password";
    Layout = "~/Areas/Default/Views/Shared/_BootstrapLayout.cshtml";
}

@using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
        <legend>Forgot password</legend>
        <div class="form-group @Html.HasErrorClass("Email", "has-error")">
            <label class="col-sm-4 control-label" for="Email">
                Email
            </label>
            <div class="col-sm-4">
                @Html.TextBox("Email", Model.Email, new { @class = "form-control" })
            </div>
            <div class="col-sm-4">
                <span class="help-block">Enter Email</span>
            </div>
        </div>

            <button type="submit" class="btn btn-primary">Get password</button>
    </fieldset>
}
